
body {
  background-color: #e7e6e1;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #e7e6e1;
}

.card{
  padding: 1rem;
  width: 20rem;
  border: 1px solid #eee;
  box-shadow: 0 4px 4px #ccc;
}
